html,
body,
#vertical {
  font-family: "Pacifico", cursive;
  font-size: 1.1em;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100% !important;
  overflow: hidden;
}

#root,
.App {
  height: 100%;
}

section {
  height: 0%;
  box-sizing: border-box;
  transition: 0.5s;
  overflow: hidden;
}

/* .inner { padding: 3em; } */

#vertical section.active {
  height: 100% !important;
}

.notice {
  position: absolute;
  top: 3em;
  right: 3em;
}

.onyforTab,
.onyforMob {
  display: none;
}

@media only screen and (min-device-width: 700px) and (max-device-width: 1024px) and (orientation: portrait) {
  .onyforTab {
    display: block;
  }
}

@media (max-device-width: 699px) {
  .onyforMob {
    display: block;
  }
}
@media (min-device-width: 1025px) {
  .onyforWeb {
    display: block;
  }
}
.liveImg {
  text-align: initial;
}

.img1wid {
  width: 100%;
}
